<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon
          slot="icon-only"
          name="close-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #form="ngForm" (ngSubmit)="editTask(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col>
          <div text-center>
            <h2>{{task.name}}</h2>
          </div>
          <div padding>
            <ion-item >
              <ion-select name="status" [(ngModel)]="task.status">
                <ion-select-option value="pending">pending</ion-select-option>
                <ion-select-option value="overdue">overdue</ion-select-option>
                <ion-select-option value="finished">finished</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-datetime
                [(ngModel)]="task.due_date"
                name="due_date"
                displayFormat="YYYY/MM/DD"
                placeholder="Due Date"
              >{{task.due_date}}</ion-datetime>
            </ion-item>
            <ion-item>
              <ion-select [(ngModel)]="task.priority" name="priority" placeholder="Priority">
                <ion-select-option value="high">High</ion-select-option>
                <ion-select-option value="medium">Medium</ion-select-option>
                <ion-select-option value="low">Low</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-datetime
                [(ngModel)]="task.created"
                name="created"
                displayFormat="YYYY/MM/DD"
                placeholder="Created"
              >{{task.created}}</ion-datetime>
            </ion-item>
            <ion-item>
              <ion-datetime
                [(ngModel)]="task.realization_date"
                name="realization_date"
                displayFormat="YYYY/MM/DD"
                placeholder="Crealization date"
              >{{task.created}}</ion-datetime>
            </ion-item>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              >Edit</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
