<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink='/login' routerLinkActive='active'>log In
      </ion-tab-button>
      <ion-tab-button
         routerLink='/signup' routerLinkActive='active'>Create Account
      </ion-tab-button>
      <ion-tab-button   routerLink="/todo-board">Go to Tasks
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
