h3 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(11, 78, 117);
}

ion-col {
  margin-left: 1rem;
  margin-right: 1rem;
}

ion-item {
  border: rgb(21, 102, 148) 1px solid;
  border-radius: 8px;
  margin-top: 0.4rem;
}
