<ion-header>
  <ion-toolbar>
    <ion-title>todo-board</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/user-profile" fill="clear">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-task-panel [tasks]="pendingTasks" [tittle]="'Pending'"></app-task-panel>
  <app-task-panel [tasks]="overdueTasks" [tittle]="'Overdue'"></app-task-panel>
  <app-task-panel [tasks]="finishedTasks" [tittle]="'Finished'"></app-task-panel>

  <ion-button (click) ="presentModal()">Add task</ion-button>

</ion-content>
